{{#paper-toolbar}}
<div class="md-toolbar-tools">
  <h2 flex=true>
    {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
      {{paper-icon icon="menu"}}
    {{/paper-sidenav-toggle}}
    Sign Up 
  </h2>
</div>
{{/paper-toolbar}}

{{#paper-content}}
  <div class="container">
    {{paper-input label="Name" value=name}}
    {{paper-input label="Username" value=username}}
    {{paper-input label="Password" type="password" value=password}}
    {{paper-input label="Re-Password" type="password" value=rePassword}}

    <p><strong>Select your role:</strong></p>
    <select onchange={{action 'setRole' value='target.value'}}>
      {{#each roles as |role|}}
          <option value={{role}}>{{role}}</option>
      {{/each}}
    </select>
    
    <br><br><br><br>

    {{#paper-button raised=true classNames="md-primary" action="submit"}}Sign-Up{{/paper-button}}    

  </div>
{{/paper-content}}
